.T-11{

/* T-11 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 1440px;
height: 6492.28px;

background: #FFFFFF;

}
.skills{
    
/* Skills */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px 80px;

width: 1440px;
height: 728px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

}
.container3{
    /* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 32px;
gap: 20px;

width: 1280px;
height: 608px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.row{
    


/* Row */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 0px;
gap: 16px;

width: 1216px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.my{
    /* My */

width: 70px;
height: 56px;

/* Displaytext/Regular */
font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */
letter-spacing: -0.02em;

/* Primary/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.skill{
    
/* Skills */

width: 134px;
height: 56px;

/* Displaytext/Extra Bold */
font-family: 'Sora';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */
letter-spacing: -0.02em;

/* Primary/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


}

.row2{
    /* Row */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 0px;

width: 1216px;
height: 492px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.column1{
/* column */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 0px;

width: 1216px;
height: 226px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.skill1{
    /* Skills */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px;
gap: 32px;

margin: 0 auto;
width: 186px;
height: 186px;

/* Primary/White */
background: #FFFFFF;
/* Primary/Black */
border: 2px solid #000000;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.icongit{
    /* icon-git */

width: 56px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.vector{
    /* Vector */

position: absolute;
left: 10.41%;
right: 10.42%;
top: 10.42%;
bottom: 10.42%;

background: #000000;
}